body {
    background: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
    height: 5%;
    display: flex;
    flex-direction: center;
    justify-content: space-around;
    align-items: center;
    background: var(--themeColor, hotpink);
}
nav>.search {
    background: url("search-icon.png") white 10px center no-repeat;
    background-size: 2.1vmax;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 110%;
    padding-left:calc(2.05vmax * 2) !important;
    padding:0.5vmin;
    outline: none;
    height: 80%;
    width: 70%;
    border: none;
    -webkit-appearance: none;
}
nav>img {
    cursor: pointer;
    height: 90%;
}
.card {
    width: 31vw;
    background-color: white;
    box-sizing: border-box;
    border: 0.1vmin solid hsl(330 100% 60%);
    border-radius: 1%;
    height: fit-content;
}
.card>h1 {
    background: var(--themeColor);
    padding: 0.9vmax;
    color: white;
}
.card>p>span {
    font-weight: 500;
    display: block;
    padding: 0.9vmax;
}
main {
    display: grid;
    gap: 2vmin;
    /*grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content;
    justify-items: center;*/
}