* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::before, ::after {
    content:" ";
}
body, html {
    background: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
:root {
    --saturation:330;
    --themeColor:hsl(var(--saturation), 100%, 71%);
}

.create {
    font-family: 'Franklin Gothic Medium', Impact, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    padding: 1vmax;
    font-size: 8vmin;
    text-transform: uppercase;
    border: none;
    color: black;
    transition:  background 0.1s ease-out;
    -webkit-transition:  background 0.1s ease-out, color 0.1s ease-out;
    -moz-transition:  background 0.1s ease-out, color 0.1s ease-out;
    -o-transition:  background 0.1s ease-out, color 0.1s ease-out;
    background:transparent;
    outline: 1vmin double var(--themeColor, hotpink);
}
.create:hover {
    background:  var(--themeColor, hotpink);
    color: white;
}