* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::before, ::after {
    content:" ";
}
body, html {
    background: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
:root {
    --themeColor:hotpink;
}

.signup, .login {
    width:20%;
    height: 10%;
    border: 1vw solid var(--themeColor);
}