* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::before, ::after {
    content:" ";
}
body, html {
    background: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
:root {
    --saturation:330;
    --themeColor:hsl(var(--saturation), 100%, 71%);
}

.optionsCont {
    display: flex;
    align-items: center;
    width: 100vw;
    height: fit-content;
    justify-content: space-around;
}
.options {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', Impact, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
    padding: 1vmax;
    font-size: 8vmin;
    text-transform: uppercase;
    border: none;
    color: var(--themeColor, hotpink, );
    transition:  background 0.09s ease-out, opacity 0.5s;
    -webkit-transition:  background 0.09s ease-out, opacity 0.5s;
    -moz-transition:  background 0.09s ease-out, opacity 0.5s;
    -o-transition:  background 0.09s ease-out, opacity 0.5s;
    background:transparent;
    outline: 1vmin double var(--themeColor, hotpink);
}
.options:hover {
    background:  var(--themeColor, hotpink);
    color: white;
}
@media only screen and (max-width:750px) {
    .optionsCont {
        height: 50vh;
        flex-direction: column;
    }
}
